body {
    background-color: gray;
}
.counter {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    font-size: 70px;
    line-height: 75px;
}
.counter div {
    background-color: #101010;
  padding: 5px;
    margin: 5px;
}
